<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/c88ab345-c8d6-4476-8b50-7db26d6d91f3/resourceGroups/beecloud/providers/Microsoft.Web/sites/beecloud</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://beecloud.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>beecloud.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>beecloud</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$beecloud</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>